@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Poppins', sans-serif;
}

@layer components {
  .navLi {
    @apply text-base md:text-xl transition-all duration-300 border-2 border-transparent rounded-full px-2 py-1 cursor-pointer;
  }
  .active{
    @apply border-white;
  }
}

/* Dla przeglądarek WebKit (Chrome, Safari) */
::-webkit-scrollbar {
  width: 12px; /* Szerokość paska przewijania */
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Kolor tła ścieżki przewijania */
}

::-webkit-scrollbar-thumb {
  background-color: #ae0b0b; /* Kolor samego paska przewijania */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #b70808; /* Kolor paska przewijania po najechaniu myszką */
}
